
<h1 class="page-name"><%=link_to Merchant.find(params[:merchant_id]).name+"'s", "/merchants/#{params[:merchant_id]}", class: 'inline-links' %> Items List</h1>

<div class="buttons">
  <%= link_to 'New Item', "/merchants/#{params[:merchant_id]}/items/new", class: 'button new' %>
  <%= link_to 'Show only active items', "/merchants/#{params[:merchant_id]}/items?active=true", class: 'button new' %>
  <%= link_to 'Show only inactive items', "/merchants/#{params[:merchant_id]}/items?active=false", class: 'button new' %>
  <%= link_to 'Show all', "/merchants/#{params[:merchant_id]}/items", class: 'button new' %>
</div>

<div class="card-container">
  <% @items.each do |item| %>
    <div class="card">
      <%= image_tag item.image, alt: 'product image', class: "index-img" %>
      <div class="card-details">
        <p class="price">Price: $<%= item.price %></p>
        <br>
        <%= link_to item.name, "/items/#{item.id}", class: "title-links" %>
        <p><%= item.description %></p>
        <br>
        <p>Status: <%= item.status %></p>
        <p>Inventory: <%= item.inventory %> items</p>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @items %>
