<div class="card-container">
  <% if params[:merchant_id].nil? %>
    <% @items.each do |item| %>
      <div class="card">
        <%= image_tag item.image, alt: 'product image' %>
        <%= link_to item.name, "/items/#{item.id}" %>
        <%= item.description %>
        <%= item.price %>
        <%= item.status %>
        <%= item.inventory %>
        <%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %>
      </div>
    <% end %>
  <% else %>
    <%= render "merchant_items_index" %>
  <% end %>
</div>