<h2 class='page-title'>New Item</h2>

<%= form_tag "/merchants/#{params[:merchant_id]}/items" do %>
  <%= label_tag 'name' %>
  <%= text_field_tag 'item[name]', nil, placeholder: 'Your product name...', class: 'input' %>

  <div>
    <%= label_tag 'price' %> (USD)
  </div>
  <%= number_field_tag 'item[price]', nil, class: 'input', step: 0.01 %>

  <%= label_tag 'description' %>
  <%= text_area_tag 'item[description]', nil, placeholder: 'A description for your product...', class: 'input' %>

  <%= label_tag 'inventory' %>
  <%= number_field_tag 'item[inventory]', nil, class: 'input' %>

  <%= label_tag 'image' %>
  <%= text_field_tag 'item[image]', nil, placeholder: 'e.g https://placehold.it/300x300.jpg', class: 'input' %>

  <%= submit_tag 'Create', class: 'button new button-form' %>
<% end %>
