<div class="data-container">
  <%= image_tag @item.image, alt: 'item image', class: 'show-img' %>
  <div class="data-card">
    <div class="details">
      <p class="title"><%= @item.name %></p>
      <br>
      <p><%= @item.description %></p>
      <br>
      <p class="price">Price: $<%= @item.price %></p>
      <p>Inventory: <%= @item.inventory %></p>
      <p>Status: <%= @item.status %></p>
      <p>Sold by: <%= link_to @item.merchant.name, "/merchants/#{@item.merchant_id}", class: 'inline-links' %></p>
    </div>
    <div class="buttons">
      <%= link_to 'Update Item', "/items/#{@item.id}/edit" , class: 'edit button' %>
      <%= link_to 'Delete Item', "/items/#{@item.id}", method: :delete, class: 'delete button' %>
    </div>
  </div>
</div>
