<!DOCTYPE html>
<html>
  <head>
    <title>MiniShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1>Mini Shop</h1>
    </header>
    <nav class="nav-container">
      <%= link_to 'Items', '/items', class: "link" %>
      <%= link_to 'Merchants', '/merchants', class: "link" %>
    </nav>
    <%= yield %>
  </body>
</html>
